@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: Open Sans;
}

body{
    text-align: center;
    height: 50vh;
    align-content: center;
    background-color: aliceblue;
}

h2{
    font-size: 30px;
    margin-bottom: 20px;
}

#display{
    background-color: rgb(218, 245, 245);
    height: 100px;
    width: 200px;
    border-radius: 20px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    margin: 0 auto;
    margin-bottom: 35px;
    font-size: 50px;
    font-weight: 600;
    align-content: center;
}

#generateBTN{
    color: white;
    font-weight: 600;
    font-size: 25px;
    background-color: rgb(153, 153, 155);
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    border: 0px solid rgba(174, 172, 172, 0.205);
}

#generateBTN:hover{
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

#generateBTN:active{
    scale: 0.95;
}

.inputVal{
    font-size: 25px;
    width: 100px;
    text-align: center;
    align-content: center;
}